[Unit]
Description=HealthCheckExporter
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
WorkingDirectory=/tmp
ExecStart=/opt/PromTools/env/bin/python3 /opt/PromTools/prometheus/hc_exporter.py

[Install]
WantedBy=multi-user.target
